<a>Athletes :</a>
{{#each listAthlete}}
<a href="athletes/{{_id}}/sports"><li>{{firstName}} {{lastName}}</li></a>
{{/each}}
{{#each listSportsAthlete}}
<li>{{name}}</li>
{{/each}}

<br>

<!-- ajouter nouveau Sport -->
<form action="athletes/createAthlete" method="POST">
    <a>Ajouter un athlete : </a><br>
    <input type="text" placeholder="Prenom" name="firstName">
    <input type="text" placeholder="Nom" name="lastName">
    <input type="text" placeholder="Genre" name="gender">
    <input type="text" placeholder="Pays" name="country">
    <button type="submit">Submit</button>
</form>