<a class="btn btn-primary btn-square-md" href="/api/sports" role="button" style="background-color: #3b5998">Voir les Sports</a>
<a class="btn btn-primary btn-square-md" href="/api/athletes" role="button" style="background-color: #3b5998">Voir les Athletes</a>