<a>Sport :</a>
{{#each listSport}}
<li>{{name}}</li>
{{/each}}

<br>

<form action="createSports" method="POST">
    <a>Ajouter sport : </a><br>
    <input type="text" placeholder="Sport name" name="name">
    <button type="submit">Submit</button>
</form>